* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background: linear-gradient(#87CEEB, #E0F6FF) no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  
}

.content{
  width: 350px;
  height: 350px;
  margin: auto;
  /* align-content: center;
  align-self: center; */
  text-align: center;

  /* border: 1px solid red; */
}
h1{
  color: rgb(41, 159, 41);
  /* display: ; */
  display: block;

  /* border: 1px solid blue; */
}

.but{
  text-decoration: none;
  
  display: inline-block;
  background-color: rgb(234, 224, 224);
  padding: 10px;
  margin-top: 10px;
}